<div class="container center">
    <div class="row col-lg-10 col-lg-offset-1">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Overdue</strong></h3>
            </div>
            <div class="panel-body">
                <ul ng-repeat="todo in ListVM.todos">
                    <span ng-if="todo.dueDate < ListVM.currentDate.toISOString() && todo.completed !== true">
                        <todo-item todo-data="todo"></todo-item>
                        <!--<span class="col-lg-10">{{todo.todo}}</span>
                        <input ng-model="todo.completed" ng-change="ListVM.updateCompleted(todo)" class="col-lg-2 right" type="checkbox" name="complete" value="">
                        <label for="complete">Complete</label>-->
                    </span>
                </ul>
            </div>
        </div>
    </div>

    <div class="row col-lg-10 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Due today</strong></h3>
            </div>
            <div class="panel-body">
                <ul ng-repeat="todo in ListVM.todos">
                    <span ng-if="todo.dueDate == ListVM.currentDate.toISOString() && todo.completed !== true">
                        <todo-item todo-data="todo"></todo-item>
                        <!--<span class="col-lg-10">{{todo.todo}}</span>
                        <input ng-model="todo.completed" ng-change="ListVM.updateCompleted(todo)" class="col-lg-2 right" type="checkbox" name="complete" value="">
                        <label for="complete">Complete</label>-->
                    </span>
                </ul>
            </div>
        </div>
    </div>

    <div class="row col-lg-10 col-lg-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Due Later</strong></h3>
            </div>
            <div class="panel-body">
                <ul ng-repeat="todo in ListVM.todos">
                    
                    <span ng-if="todo.dueDate > ListVM.currentDate.toISOString() && todo.completed !== true">
                        <todo-item todo-data="todo"></todo-item>
                        <!--<span class="col-lg-10">{{todo.todo}}</span>
                        <input ng-model="todo.completed" ng-change="ListVM.updateCompleted(todo)" class="col-lg-2 right" type="checkbox" name="completed" value="">
                        <label for="complete">Complete</label>-->
                    </span>
                </ul>
            </div>
        </div>
    </div>

</div>