<div class="container">
    <form class="form-horizontal" ng-submit="CreateVM.addTodo()">
        <fieldset>
            <legend>Create a new To Do item</legend>
            <div class="form-group">
                <label for="todo" class="col-lg-2 control-label">To Do</label>
                <div class="col-lg-10">
                    <input ng-model="CreateVM.todo" required type="text" class="form-control" name="todo" placeholder="to do">
                </div>
            </div>
            <div class="form-group">
                <label for="dueDate" class="col-lg-2 control-label">Due date</label>
                <div class="col-lg-10">
                    <input ng-model="CreateVM.dueDate" required class="form-control" type="date" name="dueDate" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">Add To Do item</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>